/************************  PAGE  ************************/
$page-border: 1px solid rgba(0,0,0,.15);

$btn-border: 1px solid $black;
$btn-border-inverse: 1px solid $white;

/************************  HEADER  ************************/
$header-border: 1px solid rgba(0,0,0,.75);
$header-link-border: 1px solid rgba(256,256,256,.2);

/************************  MARQUEE  ************************/

/************************  WORK  ************************/
$filter-btn-border: 1px solid transparent;
$filter-btn-border-hover: 1px solid $med-grey;

$project-border: 1px solid rgba(0,0,0,.75);

/************************  ABOUT  ************************/

/************************  CONTACT  ************************/
$copyright-border: 1px solid $med2-grey;
$contact-link-border: 3px solid rgba(256,256,256,.3);

/************************  PROJECT  ************************/
$project-features-border: 1px solid #d6d6d6;