/************************  PAGE  ************************/
$max-page-width:1260px;

$section-padding-top: 85px;
$subsection-padding:50px;

$btn-width:200px;
$btn-height:50px;

/************************  HEADER  ************************/
$header-height: 70px;
$header-logo-height: $header-height*.8;
$header-space: ($header-height - $header-logo-height)/2;
$header-logo-width: $header-logo-height;
$header-link-width:150px;
$header-ta-width: 200px;

/************************  MARQUEE  ************************/
$marquee-height:650px;
$marquee-ratio: 9/16 * 100%;
$marquee-project-height: 80px;
$marquee-project-bottom: 20px;

$marquee-icon-size: 50px;

/************************  WORK  ************************/
$work-item-height:350px;
$work-item-hover-height:450px;

$work-item-copy-top: 130px;
$work-item-copy-top-hover: 80px;
$work-item-ta-height: (64/414)*100%;
$work-item-ta-height: 64px;

/************************  ABOUT  ************************/

/************************  CONTACT  ************************/
$copyright-height: 50px;
$contact-link-size: 55px;
$contact-link-hover-size: 150px;

/************************  PROJECT  ************************/
$project-marquee-height:450px;
$project-marquee-ta: 48px;
$project-features-height:125px;