nav{
	background: $header-background;

	&.navbar{
		min-height: $header-height;
		width: $max-page-width - 2;
		left:50%;
		margin-left: ($max-page-width - 2)/-2;
		background: $header-background;
		border: none;
		border-bottom:$header-border;

		@media screen and (max-width : $window-break) {
			width:100%;
			left:0;
			margin-left:0;
			border-left:none;
			border-right:none;
		}

		.container{
			.row{
				position: relative;

				.wrapper{
		 			position: absolute;
		 			width:$header-logo-width;

		 			@include transition-property(left,margin-left);
					@include transition-duration(.5s);

		 			&.home{
		 				left: 50%;
		 				margin-left: $header-logo-width / -2;
		 			}

		 			&.project{
		 				left: 0;
		 				margin-left: 0;
		 			}

		 			.logo{
						height: $header-height;
						width:$header-logo-width;
						text-align: center;
						padding-top: $header-space;

						img{
							height: $header-logo-height; 
							display: inline-block;
							vertical-align: top;
						}
					}
		 		}

		 		.copy{
		 			padding-top: $header-space;

					div{
						float: right;
						display: inline-block;
						overflow: hidden;

						&.ta{ 
							height: $header-logo-height;
							width: $header-ta-width;
							margin-right: 20px;
							overflow: hidden;
							position: relative;

							span{
								display: block;
								height: $header-logo-height;
								width: $header-ta-width;
								left: $header-ta-width*2;
								background-repeat: no-repeat;
								background-position: center center;
								background-size: contain;
								position: absolute;

								@include transition-property(left);
								@include transition-duration(.5s);
								@include transition-delay(1s);
							}

							

							&.visible{
								span{
									left: 0;
								}
								
							}
						}

						&.title{
							color: transparent;
							line-height: $header-logo-height + 2;
							position: relative;
							overflow: hidden;

							span.animate{
								color: $header-text;
								position: absolute;
								top: 0;
								left: 200px;

								@include transition-property(left);
								@include transition-duration(.5s);
								@include transition-delay(.5s);
							}

							&.visible{
								span.animate{
									left:0;
								}
							}
						}
					}
				}
			}
		}
 
 		
		

		
	}
}